@-webkit-keyframes item {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes item {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
.item:hover h3 {
  color: #fff;
  background-color: rgba(251, 59, 25, 0.72);
  border-radius: 5px;
  border-bottom: 2px solid #FC8942;
}
.item {
  padding-top: 10px;
  display: inline-block;
   vertical-align: middle;
   -webkit-transform: translateZ(0);
   transform: translateZ(0);
   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   -moz-osx-font-smoothing: grayscale;
   cursor: pointer; 
}
.item:hover {
  -webkit-animation-name: item;
  animation-name: item;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: rgba(87, 192, 238, 0.18);
  border-radius: 5px;
}
.box-carousel .item .action-bar {
  border: none;
}
.popular .box h3 {
  text-align: center;
}
